@model IEnumerable<PhoneSmart.Models.Phone>

@{ ViewData["Title"] = "Index"; }

<h1>Phones</h1>

<p>
    <a asp-action="Create">Post New Phone</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Storage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneModel.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneModel.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Color)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Storage)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Condition)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneModel.Manufacturer)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneModel.Model)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.User.FirstName)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.PhoneId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.PhoneId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.PhoneId">Delete</a>
    </td>
</tr>
}
    </tbody>
</table>
